---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ContactForm from '../components/ContactForm.astro';
import Terminal from '../components/Terminal.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html
    lang="en"
    x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
    x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
    x-bind:class="{ 'dark': darkMode }"
    class="scroll-smooth"
>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="bg-gradient-to-br from-slate-300 to-slate-50 dark:from-slate-900 dark:to-slate-700 dark:text-slate-50"
    >
        <div class="w-full">
            <Header />
            <main
                class="flex flex-col items-center mx-auto w-full max-w-[1000px]"
            >
                <section
                    class="flex flex-col gap-16 px-8 w-full min-h-screen font-terminal pt-[150px]"
                >
                    <h1 class="text-6xl leading-snug md:text-6xl font-terminal">
                        <span class="mr-2">></span>Jacob Van Schenck <span
                            class="animate-flash bg-slate-300"
                            >&nbsp;
                        </span>
                    </h1>
                    <div class="flex font-sans">
                        Check out my&nbsp;
                        <a
                            class="font-bold text-amber-500 group"
                            href="#projects"
                        >
                            side projects
                            <div
                                class="mt-1 h-1 bg-amber-500 transition-transform duration-100 scale-x-0 group-hover:scale-x-100"
                            >
                            </div>
                        </a>
                        &nbsp;below
                    </div>
                    <Terminal />
                </section>
                <section
                    id="projects"
                    class="flex flex-col gap-8 justify-center pt-16 min-h-screen max-w-[1300px]"
                >
                    <h2 class="pl-8 text-3xl sm:text-5xl">My Projects</h2>
                    <div class="flex flex-col gap-16">
                        <ProjectCard
                            imgSrc={'/turbo-runners.png'}
                            techList={[
                                'Next.js',
                                'TailwindCSS',
                                'Solidity',
                                'HardHat',
                            ]}
                            projectTitle={'Turbo Runners'}
                            siteLink="https://turbo-runners.vercel.app/"
                            githubLink="https://github.com/jacobvanschenck/nft-project-nextjs"
                            description="An NFT Minting site for an ERC-721a token. This NFT includes Whitelisting address for early minting, Royalties on mint and transfer, and delayed art reveal dates."
                        />
                        <ProjectCard
                            imgSrc={'/my-dex.png'}
                            techList={[
                                'React',
                                'Bootstrap',
                                'Solidity',
                                'Truffle',
                            ]}
                            projectTitle={'MyDex'}
                            siteLink="https://dex-vs.netlify.app/"
                            githubLink="https://github.com/jacobvanschenck/My-Dex"
                            description="A web3 trading platform to create Market Orders and Limit Orders for ERC-20 coins."
                        />
                        <ProjectCard
                            imgSrc={'/multi-sig.png'}
                            techList={[
                                'React',
                                'Bootstrap',
                                'Solidity',
                                'Truffle',
                            ]}
                            projectTitle={'MultiSig Wallet'}
                            siteLink="https://multi-sig-wallet-vs.netlify.app/"
                            githubLink="https://github.com/jacobvanschenck/Multisig-Wallet"
                            description="A smart contract wallet that requires approval from 2 designated addresses to complete transactions"
                        />
                    </div>
                </section>
                <section
                    id="connect"
                    class="flex items-center px-8 w-full min-h-screen max-w-[1300px]"
                >
                    <div class="flex flex-col gap-12">
                        <h2 class="text-3xl sm:text-5xl">Let's Connect</h2>
                        <p class="w-full text-slate-400">
                            Feel free to reach out and I will get back to you as
                            soon as I can.
                        </p>
                        <ContactForm />
                    </div>
                </section>
            </main>
            <Footer />
        </div>
    </body>
</html>
