---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ContactForm from '../components/ContactForm.astro';
import Terminal from '../components/Terminal.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html
    lang="en"
    x-data="{ darkMode: localStorage.getItem('dark') === 'true'} "
    x-init="$watch('darkMode', val => localStorage.setItem('dark', val))"
    x-bind:class="{ 'dark': darkMode }"
    class="scroll-smooth"
>
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body
        class="bg-gradient-to-br to-slate-300 from-slate-50 text-slate-800 dark:from-slate-900 dark:to-slate-700 dark:text-slate-50"
    >
        <div class="w-full">
            <Header />
            <main
                class="flex flex-col items-center mx-auto w-full max-w-[1000px]"
            >
                <section
                    class="flex flex-col gap-8 px-8 pt-24 w-full min-h-screen sm:gap-16 sm:pt-36 font-terminal"
                >
                    <h1
                        class="text-4xl font-bold leading-snug sm:text-5xl lg:text-6xl font-terminal"
                    >
                        <span class="mr-2">></span>Jacob <span class="sm:hidden"
                            ><br /></span
                        >Van Schenck <span
                            class="animate-flash bg-slate-800 dark:bg-slate-300"
                            >&nbsp;
                        </span>
                    </h1>
                    <div class="flex font-sans">
                        <p>
                            I am a software engineer with a passion for web3
                            technoloy. I build clean, performant solutions that
                            are a delight for users. Check out my&nbsp;
                            <a
                                class="font-bold text-violet-600 dark:text-amber-500 group"
                                href="#projects"
                                aria-label="side projects"
                            >
                                side projects
                                <div
                                    class="mt-1 h-1 bg-violet-600 transition-transform duration-100 scale-x-0 dark:bg-amber-500 group-hover:scale-x-100"
                                >
                                </div>
                            </a>
                        </p>
                    </div>
                    <Terminal />
                </section>
                <section
                    id="projects"
                    class="flex flex-col justify-center pt-16 min-h-screen sm:gap-8 max-w-[1300px]"
                >
                    <h2
                        class="pl-8 text-3xl font-black sm:text-5xl lg:text-5xl"
                    >
                        Projects
                    </h2>
                    <div
                        class="flex flex-col transition-all duration-150 sm:gap-16"
                    >
                        <ProjectCard
                            imgSrc={'/turbo-runners.png'}
                            techList={[
                                'Next.js',
                                'TailwindCSS',
                                'Solidity',
                                'HardHat',
                            ]}
                            projectTitle={'Turbo Runners'}
                            siteLink="https://turbo-runners.vercel.app/"
                            githubLink="https://github.com/jacobvanschenck/nft-project-nextjs"
                            description="An NFT Minting site for an ERC-721a token. This NFT includes Whitelisting address for early minting, Royalties on mint and transfer, and delayed art reveal dates."
                        />
                        <ProjectCard
                            imgSrc={'/TsunamiTrades.png'}
                            techList={[
                                'React',
                                'TailwindCSS',
                                'Solidity',
                                'HardHat',
                                'Viem',
                            ]}
                            projectTitle={'MyDex'}
                            siteLink="https://dex-vs.netlify.app/"
                            githubLink="https://github.com/jacobvanschenck/My-Dex"
                            description="A web3 trading platform to create Market Orders and Limit Orders for ERC-20 coins."
                        />
                        <ProjectCard
                            imgSrc={'/MultisigWallet.png'}
                            techList={[
                                'React',
                                'TailwindCSS',
                                'Solidity',
                                'HardHat',
                                'Viem',
                            ]}
                            projectTitle={'MultiSig Wallet'}
                            siteLink="https://multi-sig-wallet-vs.netlify.app/"
                            githubLink="https://github.com/jacobvanschenck/Multisig-Wallet"
                            description="A smart contract wallet that requires approval from 2 designated addresses to complete transactions"
                        />
                    </div>
                </section>
                <section
                    id="connect"
                    class="flex items-center px-8 w-full min-h-screen max-w-[1300px]"
                >
                    <div class="flex flex-col gap-12">
                        <h2 class="text-3xl font-black sm:text-5xl">
                            Let's Connect
                        </h2>
                        <p class="w-full text-slate-500">
                            Feel free to reach out and I will get back to you as
                            soon as I can.
                        </p>
                        <ContactForm />
                    </div>
                </section>
            </main>
            <Footer />
        </div>
    </body>
</html>
