---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div
      class="w-full bg-blue-50 text-neutral-900 dark:bg-gray-800 dark:text-neutral-200"
    >
      <Header title={SITE_TITLE} />
      <main class="flex w-full flex-col items-center">
        <section
          class="flex h-screen w-full flex-col items-center justify-center pt-10"
        >
          <h1>
            Hi my name is <span class="text-red-500">Jacob</span>, and I like to
            build stuff
          </h1>
          <button>Let's Connect</button>
        </section>
        <section
          id="projects"
          class="flex h-screen max-w-[1300px] flex-col items-center justify-center gap-10 px-40"
        >
          <h2 class="text-3xl">My Projects</h2>
          <div class="flex flex-col gap-10">
            <ProjectCard
              imgSrc={'/turbo-runners.png'}
              techList={['Next.js', 'TailwindCSS', 'Solidity', 'HardHat']}
              projectTitle={'Turbo Runners'}
              siteLink="https://turbo-runners.vercel.app/"
              githubLink="https://github.com/jacobvanschenck/nft-project-nextjs"
              description="An NFT Minting site for an ERC-721a token. This NFT includes Whitelisting address for early minting, Royalties on mint and transfer, and delayed art reveal dates."
            />
            <ProjectCard
              imgSrc={'/my-dex.png'}
              techList={['React', 'Bootstrap', 'Solidity', 'Truffle']}
              projectTitle={'MyDex'}
              flipped={true}
              siteLink="https://dex-vs.netlify.app/"
              githubLink="https://github.com/jacobvanschenck/My-Dex"
              description="A web3 trading platform to create Market Orders and Limit Orders for ERC-20 coins."
            />
            <ProjectCard
              imgSrc={'/multi-sig.png'}
              techList={['React', 'Bootstrap', 'Solidity', 'Truffle']}
              projectTitle={'MultiSig Wallet'}
              siteLink="https://multi-sig-wallet-vs.netlify.app/"
              githubLink="https://github.com/jacobvanschenck/Multisig-Wallet"
              description="A smart contract wallet that requires approval from 2 designated addresses to complete transactions"
            />
          </div>
        </section>
        <section
          id="connect"
          class="flex h-screen flex-col items-center justify-center gap-10"
        >
          <h2 class="text-3xl">Let's Connect</h2>
          <form
            action="/api/sendMessage"
            method="send"
            class="flex w-96 flex-col items-center gap-10 rounded-md p-5 shadow-2xl dark:bg-gray-900"
          >
            <h3 class="w-full text-center text-xl">Message Me</h3>
            <label class="flex w-full flex-col">
              email
              <input
                class="border-2 border-x-blue-50 border-b-black border-t-blue-50 bg-transparent dark:border-x-gray-900 dark:border-t-gray-900 dark:border-b-white"
                type="email"
                required
              />
            </label>
            <label class="flex w-full flex-col">
              message
              <input
                class="border-2 border-x-blue-50 border-b-black border-t-blue-50 bg-transparent dark:border-x-gray-900 dark:border-t-gray-900 dark:border-b-white"
                id="message-field"
                type="text"
                required
              />
            </label>
            <input
              class="w-fit rounded-lg border-2 border-black px-3 py-1 text-center dark:border-none dark:bg-gray-800"
              type="submit"
              value="Send"
            />
          </form>
        </section>
      </main>
      <Footer />
    </div>
  </body>
</html>
