---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import ProjectCard from '../components/ProjectCard.astro';
import ContactForm from '../components/ContactForm.tsx';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <div
      class="w-full bg-blue-50 text-neutral-900 dark:bg-gray-800 dark:text-neutral-200"
    >
      <Header title={SITE_TITLE} />
      <main class="flex w-full flex-col items-center">
        <section
          id="hero"
          class="flex h-screen w-full flex-col items-center justify-center pt-10"
        >
          <h1>
            Hi my name is <span class="text-red-500">Jacob</span>, and I like to
            build stuff
          </h1>
          <a href="#connect">Let&apos;s Connect</a>
          <a href="#projects" class="m-10 animate-bounce">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke-width="1"
              stroke="currentColor"
              class="h-10 w-10"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9 12.75l3 3m0 0l3-3m-3 3v-7.5M21 12a9 9 0 11-18 0 9 9 0 0118 0z"
              ></path>
            </svg>
          </a>
        </section>
        <section
          id="projects"
          class="flex min-h-screen max-w-[1300px] flex-col items-center justify-center gap-10 px-40"
        >
          <h2 class="text-3xl">My Projects</h2>
          <div class="flex flex-col gap-10">
            <ProjectCard
              imgSrc={'/turbo-runners.png'}
              techList={['Next.js', 'TailwindCSS', 'Solidity', 'HardHat']}
              projectTitle={'Turbo Runners'}
              siteLink="https://turbo-runners.vercel.app/"
              githubLink="https://github.com/jacobvanschenck/nft-project-nextjs"
              description="An NFT Minting site for an ERC-721a token. This NFT includes Whitelisting address for early minting, Royalties on mint and transfer, and delayed art reveal dates."
            />
            <ProjectCard
              imgSrc={'/my-dex.png'}
              techList={['React', 'Bootstrap', 'Solidity', 'Truffle']}
              projectTitle={'MyDex'}
              flipped={true}
              siteLink="https://dex-vs.netlify.app/"
              githubLink="https://github.com/jacobvanschenck/My-Dex"
              description="A web3 trading platform to create Market Orders and Limit Orders for ERC-20 coins."
            />
            <ProjectCard
              imgSrc={'/multi-sig.png'}
              techList={['React', 'Bootstrap', 'Solidity', 'Truffle']}
              projectTitle={'MultiSig Wallet'}
              siteLink="https://multi-sig-wallet-vs.netlify.app/"
              githubLink="https://github.com/jacobvanschenck/Multisig-Wallet"
              description="A smart contract wallet that requires approval from 2 designated addresses to complete transactions"
            />
          </div>
        </section>
        <section
          id="connect"
          class="flex h-screen flex-col items-center justify-center gap-10"
        >
          <h2 class="text-3xl">Let's Connect</h2>
          <ContactForm client:visible />
        </section>
      </main>
    </div>
    <Footer />
  </body>
</html>
