---
import DarkLightToggle from './DarkLightToggle.astro';
import Link from './Link.astro';
---

<header class="flex absolute justify-center p-6 w-full">
    <nav
        class="flex gap-6 justify-end items-center pr-16 w-full max-w-[1000px]"
    >
        <DarkLightToggle />
        <Link
            label="Twitter"
            link="https://twitter.com/jacobvs_eth"
            aria-label="Check out my twitter"
        />
        <Link
            label="GitHub"
            link="https://github.com/jacobvanschenck"
            aria-label="Check our my github"
        />
    </nav>
</header>
