---
// import DarkLightToggle from './DarkLightToggle';
import Link from './Link.astro';
---

<header class="flex absolute justify-center p-6 w-full">
    <nav
        class="flex gap-6 justify-end items-center pr-16 w-full max-w-[1000px]"
    >
        <!-- <DarkLightToggle client:load /> -->
        <Link label="Twitter" link="https://twitter.com/jacobvs_eth" />
        <Link label="GitHub" link="https://github.com/jacobvanschenck" />
    </nav>
</header>
