---
import type { HTMLAttributes } from 'astro/types';
export interface Props extends HTMLAttributes<'input'> {
    label: string;
}

const { label, type } = Astro.props;
---

<label
    class="flex flex-col w-full transition duration-150 focus-within:text-violet-600 hover:text-violet-600 group dark:hover:text-amber-500 dark:focus-within:text-amber-500 focus-within:text-viole-600"
>
    {label}<input
        class="bg-transparent rounded-none border-2 transition duration-150 focus:outline-none text-slate-800 border-x-transparent border-b-black border-t-transparent dark:text-slate-50 dark:border-x-transparent dark:border-t-transparent dark:border-b-white dark:group-hover:border-b-amber-500 group-hover:border-b-violet-600 focus:border-b-violet-600 focus:dark:border-b-amber-500"
        type={type}
        name={label}
        required
    />
</label>
